.App {
    width: 100vw;
    height: 100svh;
    background-color: #f0f0f0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.calculatorContent {
    max-width: 840px;
    width: 100%;
    height: 650px;
    background-color: #fff;
    border-radius: 24px 24px 200px 24px;
    padding: 56px;
}
.inputArea {
    display: flex;
    gap: 32px;
}
.itemInput {
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.titleItemInput {
    color: #716f6f;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 3.5px;
    text-transform: uppercase;
}
.inputItemInput {
    outline: none;
    background: none;
    padding: 12px 24px;
    color: #151515;
    font-family: Poppins;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.32px;
    border-radius: 8px;
    border: 1px solid #dcdcdc;
    width: 160px;
    
}
